<!DOCTYPE html>
<html>
<head>
    <title>Book Store</title>
</head>
<body>

<h1>📚 Book Store</h1>

<!-- Search -->
<form method="GET">
    <input type="text" name="q" placeholder="Search book">
    <button type="submit">Search</button>
</form>

<!-- Filter -->
<form method="GET">
    <select name="category">
        <option value="">All</option>
        <option>Fiction</option>
        <option>Tech</option>
        <option>Self-help</option>
        <option>Finance</option>
    </select>
    <button type="submit">Filter</button>
</form>

<hr>

{% for book in books %}
<div>
    <h3>{{ book.name }}</h3>
    <p>{{ book.category }}</p>
    <p>₹ {{ book.price }}</p>

    <a href="/buy/{{ book.name }}">
        <button>Buy</button>
    </a>
</div>
<hr>
{% endfor %}

<h2>Add New Book</h2>
<form method="POST" action="/add">
    <input type="text" name="name" placeholder="Book Name" required>
    <input type="text" name="category" placeholder="Category" required>
    <input type="number" name="price" placeholder="Price" required>
    <button type="submit">Add Book</button>
</form>

</body>
</html>